# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# output png
# /e2eTests/output // commented out for inital example to be seen

# misc
.DS_Store
npm-debug.log
